extends layout


block content
  - var logged =temp;

  #user
  if(logged == 1)
      p Session user name:  #{name}
      p Cookie variable: site was visited #{visited} times
  p Local (route-scope) variable value is #{local_var}
  p Global (app-scope:global.ii) variable value is #{global_var1}
  p Global (app-scope:global.ii) variable value is #{global_var1}
  br
  #user
    if(logged != 1)
      a(href="/login")
        button(type=submit) Sign In
    else
      a(href="/logout")
        button(type=submit) Sign Out
  br
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile" />
    <button type="submit">Upload</button>
  </form>
  br
  <form action="/download" method="get">
    input(type="text", name="path",value="",placeholder="Nazwa pliku")
    <button type="submit">Download</button>
  </form>
  br
  a(href="/messages")
    button(type=submit) Open chat